  version: '3.9'

  services:
    db:
      image: postgres:15
      container_name: gigafood-db
      environment:
        POSTGRES_USER: admin
        POSTGRES_PASSWORD: admin
        POSTGRES_DB: gigafood
      ports:
        - "5433:5432"
      volumes:
        - db_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U admin -d gigafood"]
        interval: 10s
        retries: 5

    backend:
      build:
        context: ../backend
      container_name: gigafood-backend
      depends_on:
        db:
          condition: service_healthy
        fastapi:
          condition: service_started
      environment:
        SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/gigafood
        SPRING_DATASOURCE_USERNAME: admin
        SPRING_DATASOURCE_PASSWORD: admin
        SPRING_JPA_HIBERNATE_DDL_AUTO: update
      ports:
        - "8080:8080"
      volumes:
        - ../backend/uploads:/app/uploads

    ollama:
      image: ollama/ollama:latest
      container_name: ollama
      ports:
        - "11433:11434"
      environment:
        - OLLAMA_HOST=0.0.0.0
      volumes:
        - ollama:/root/.ollama

    fastapi:
      build:
        context: ../ai
        dockerfile: Dockerfile
      container_name: gigafood-fastapi
      ports:
        - "8000:8000"
      environment:
        - OLLAMA_HOST=http://ollama:11434
      depends_on:
        - ollama

  volumes:
    db_data:
    ollama:
